/* VARS */
/* #################################################### */
/*                      COLORS                          */
/* #################################################### */

:root {
  /* Color Palette Charcoal with yellow accents*/ 
  --battleship-grey: #848c8eff;
  --charcoal: #435058ff;
  --mindaro: #dcf763ff;
  --pale-silver: #bfb7b6ff;
  --cultured: #f1f2eeff;

  /* Color Palette Blues and a White */
  --prussian-blue: #13293dff;
  --sapphire-blue: #006494ff;
  --cg-blue: #247ba0ff;
  --carolina-blue: #1b98e0ff;
  --alice-blue: #e8f1f2ff;

  /* Color Palette Brown with a light blue and grey */
  --black-chocolate: #0f1108ff;
  --black-chocolate-2: #241909ff;
  --fluorescent-blue: #00f6edff;
  --beau-blue: #cad8deff;
  --umber: #645853ff;

/* Color Palette Black, Blue and Brownish Pink  */
  --black: #000000ff;
  --dodger-blue: #1098f7ff;
  --white: #ffffffff;
  --silver-pink: #b89e97ff;
  --queen-pink: #deccccff;

/* Colors organized by object size */
--primary: var(--charcoal);
--secondary: var(--mindaro);
--tertiary: var(--cultured);
--quaternary: var(--battleship-grey)
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
  color: var(--tertiary);
}

.fa-bars{
  color: var(--secondary);
  font-size:28px;
}


.modal-header, .modal-body{
  background-color: var(--primary);
}


.navbar-toggler{
  outline: 0;
  background-color: var(--primary);
  border-color: var(--secondary);
}

.fixed-bottom{
  margin: 1vh;
  left:28vh;
}

.btn-primary{
  background-color: var(--primary);
  border-color: var(--secondary);
  color: var(--secondary);
  box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn-primary:hover, .btn-primary:focus{
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--primary);
}

.btn-scroller{
  background-color: var(--quaternary);
  border-color: var(--secondary);
  color: var(--tertiary);
  box-shadow: 0 0 1vh rgba(49,132,253);
}

.btn-scroller:hover, .btn-scroller:focus{
  background-color: var(--quaternary);
  border-color: var(--secondary);
  color: var(--tertiary);
}

.nav-link{
  color:var(--secondary)
}

.navbar-brand{
  color:var(--secondary);
}

h1, h4{
  color: var(--secondary);
  margin-top: 2%;

}

html {
  height: 100%;
}

nav, body{
  background-color: var(--primary);
  border-bottom: 1px solid var(--secondary);
  font-family: "Archivo Narrow";
}

.bg { 
  height: 100%;
  width: 100%;
  filter: brightness(60%);
}

h4{
  margin: 5vh;
  /* padding-bottom: 5vh;; */
  /* border-bottom: 1px solid rgba(181, 91, 26, 1); */
}
p{
  /* letter-spacing: 5px; */
  line-height: 2;
  word-spacing: 2;
  align-content: center;
  color: var(--secondary);
}

.accordion-button{
  display: block;  
  text-align: center;
  background-color: var(--secondary);
  padding: 4vh;
  margin-top: 2vh;
  border-radius: 1%;
  color: var(--primary)
}

.accordion-body{
  color:var(--secondary);
}

.card{
  border-color: var(--secondary);
}

.card-header{
  background-color: var(--secondary);
}

.card-body{
  background-color: var(--primary);
}

.card-text{
  color: var(--primary)
}

.review-carousel{
  width: 95vh;
}

.blockquote-footer, cite{
  color: var(--tertiary);
}

.img-thumbnail{
  margin-top: 3vh;
}

small{
  font-size: x-small;
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1200px) {
  .container150vh{
    height: 150vh;
    border-top: 1px solid var(--secondary);
  }
  .container120vh{
    height: 120vh;
    border-top: 1px solid var(--secondary);
  }
  .container100vh{
    height: 100vh;
    border-top: 1px solid var(--secondary);
  }
  .container90vh{
    height: 90vh;
    border-top: 1px solid var(--secondary);
  }
  .container80vh{
    height: 80vh;
    border-top: 1px solid var(--secondary);
  }
  .container50vh{
    height: 50vh;
    border-top: 1px solid var(--secondary);
  }
  .container10vh{
    height: 10vh;
    /* border-top: 1px solid var(--secondary); */
  }
  #Home-Header{
    width: 40%;
    position: absolute;
    bottom: 65vh;
    right: 3%;
    margin-top: 5vh;
  }

  #carouselExampleIndicators{
    width:80%;
    height:70vh;
  }

  #design-by{
    text-align: right;
  }

  #dev-website{
    text-align: left;
  }

  .row>* {
    padding-right: 0;
    padding-left: 0;
  }
}