/* #################################################### */
/*                      COLORS                          */
/* #################################################### */

:root {
  /* Color Palette Charcoal with yellow accents*/ 
  --battleship-grey: #848c8eff;
  --charcoal: #435058ff;
  --mindaro: #dcf763ff;
  --pale-silver: #bfb7b6ff;
  --cultured: #f1f2eeff;

/* Colors set to variables --> this will make it easier to change color palettes in future */
--primary: var(--charcoal);
--secondary: var(--mindaro);
--tertiary: var(--cultured);
--quaternary: var(--battleship-grey)
}

/* #################################################### */
/*                      HTML & Body                     */
/* #################################################### */

html {
  height: 100%;
}

body{
  background-color: var(--primary);
  /* font-family: "Dosis";
  font-family: "Archivo Narrow"; */
  /* font-family: "Bayon"; */
  font-family: "Big Shoulders Stencil ";
}

/* #################################################### */
/*                      Nav                             */
/* #################################################### */

/* .navbar-nav, .nav-link.active, .navbar-nav.show>.nav-link{
  color: var(--tertiary);
 } */

.navbar-toggler{
  outline: 0;
  background-color: var(--primary);
  border-color: var(--secondary);
}

#navbar{
  background-color: var(--primary);
  border-bottom: 1px solid var(--secondary);
}

.nav-link{
  color:var(--secondary)
}

/* brand/company name in nav (top left) */
.navbar-brand{
  color:var(--secondary);
}

/* Hamburger Menu/Bars */
/* aka - Font Awesome Bars */
.fa-bars{
  color: var(--secondary);
  font-size:28px;
}

/* #################################################### */
/*                      Modal                           */
/* #################################################### */

.modal-header, .modal-body{
  background-color: var(--primary);
}

/* #################################################### */
/*                      Button(s)                       */
/* #################################################### */

.btn-primary{
  background-color: var(--primary);
  border-color: var(--secondary);
  color: var(--secondary);
  box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn-primary:hover, .btn-primary:focus{
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--primary);
}

.btn-scroller{
  background-color: var(--quaternary);
  border-color: var(--secondary);
  color: var(--tertiary);
  box-shadow: 0 0 1vh rgba(49,132,253);
}

.btn-scroller:hover, .btn-scroller:focus{
  background-color: var(--quaternary);
  border-color: var(--secondary);
  color: var(--tertiary);
}

/* this is for the button on mobile only to open form/modal "Schedule a FREE Consult!"*/
.fixed-bottom{
  margin: 1vh;
  left:28vh
}

/* #################################################### */
/*                      Headers                         */
/* #################################################### */


h1{
  color: var(--secondary);
  margin-top: 2%;
}

h4{
  color: var(--secondary);
  margin: 5vh;
}

/* #################################################### */
/*       Paragraphs / Texts/ Quotes / Citations         */
/* #################################################### */

p{
  /* letter-spacing: 5px; */
  line-height: 2;
  word-spacing: 2;
  font-size: medium;
  align-content: center;
  color: var(--secondary);
}

.testimonial{
  line-height: 2;
  word-spacing: 2;
  font-size: medium;
}

.blockquote-footer, cite{
  color: var(--tertiary);
}

/* #################################################### */
/*                      Images                          */
/* #################################################### */

.background-image { 
  height: 100%;
  width: 100%;
}

.img-thumbnail{
  margin-top: 3vh;
}

/* #################################################### */
/*                      Accordion                       */
/* #################################################### */

.accordion-button{
  display: block;  
  text-align: center;
  background-color: var(--secondary);
  padding: 4vh;
  margin-top: 2vh;
  border-radius: 1%;
  color: var(--primary)
}

.accordion-body{
  color:var(--secondary);
}

/* #################################################### */
/*                        Carousel                      */
/* #################################################### */

.review-carousel{
  width: 95vh;
}

small{
  font-size: x-small;
}

/* #################################################### */
/*                        Cards                          */
/* #################################################### */

.card{
  border-color: var(--secondary);
}

.card-header{
  background-color: var(--secondary);
  font-weight: bold;
}

.card-body{
  background-color: var(--primary);
}

.card-text{
  color: var(--primary);
  font-size: large;
}

/* #################################################### */
/*          Positioning for Desktops/Laptops            */
/* #################################################### */

@media only screen 
and (min-width : 1200px) {

  /* ###############       Containers       ############*/
  .container150vh{
    height: 150vh;
    border-top: 1px solid var(--secondary);
  }
  .container120vh{
    height: 120vh;
    border-top: 1px solid var(--secondary);
  }
  .container100vh{
    height: 100vh;
    border-top: 1px solid var(--secondary);
  }
  .container90vh{
    height: 90vh;
    border-top: 1px solid var(--secondary);
  }
  .container80vh{
    height: 80vh;
    border-top: 1px solid var(--secondary);
  }
  .container50vh{
    height: 50vh;
    border-top: 1px solid var(--secondary);
  }
  .container15vh{
    height: 15vh;
  }

  /* ###############      Slogan        ############*/

  #Slogan{
    width: 40%;
    position: absolute;
    bottom: 68vh;
    right: 3%;
  }

 /* ###############      Carousel        ############*/
  #carouselExampleIndicators{
    width:80%;
    height:70vh;
  }

  /* #############   Footer/Recognition  ############*/
  #design-by{
    text-align: right;
  }

  #dev-website{
    text-align: left;
  }

  .row>* {
    padding-right: 0;
    padding-left: 0;
  }
}